USE [master]
GO
/****** Object:  Database [ClienteCilindroDB]    Script Date: 11/7/2022 00:37:25 ******/
CREATE DATABASE [ClienteCilindroDB]
 CONTAINMENT = NONE
ALTER DATABASE [ClienteCilindroDB] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClienteCilindroDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClienteCilindroDB]
GO
/****** Object:  Table [dbo].[Cilindros]    Script Date: 11/7/2022 00:37:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cilindros](
	[tamanio] [int] NULL,
	[tipoResistencia] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 11/7/2022 00:37:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](250) NOT NULL,
	[direccion] [varchar](250) NOT NULL,
	[nacionalidad] [int] NOT NULL,
	[cuit] [varchar](11) NOT NULL,
	[contacto] [varchar](250) NOT NULL,
	[telefono] [varchar](10) NOT NULL,
	[mail] [varchar](250) NOT NULL,
	[mailFacturaElectronica] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 
GO
INSERT [dbo].[Clientes] ([idCliente], [nombre], [direccion], [nacionalidad], [cuit], [contacto],[telefono],[mail],[mailFacturaElectronica]) VALUES (1, N'Arcor', N'Cochabamba 2668', 0, N'30710969619', N'Hernesto Gonzales', N'1149415237', N'arcorargentina@gmail.com', N'arcorfacturas@gmail.com')
GO
INSERT [dbo].[Clientes] ([idCliente], [nombre], [direccion], [nacionalidad], [cuit], [contacto],[telefono],[mail],[mailFacturaElectronica]) VALUES (2, N'Zicamor', N'Eleodoro Yanez 2342', 1, N'30867452679', N'Pepe Manziuc', N'61222137', N'zicamorchile@gmail.com', N'zicamorfacturas@gmail.com')
GO
INSERT [dbo].[Clientes] ([idCliente], [nombre], [direccion], [nacionalidad], [cuit], [contacto],[telefono],[mail],[mailFacturaElectronica]) VALUES (3, N'Estrada', N'Guayabos 2730', 2, N'30243576891', N'Gonzalo Airton', N'98260696', N'estradauruguay@gmail.com', N'estradafacturas@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Cilindros] ON 
GO
INSERT [dbo].[Cilindros] ([tamanio], [tipoResistencia]) VALUES (100,0)
GO
INSERT [dbo].[Cilindros] ([tamanio], [tipoResistencia]) VALUES (120,0)
GO
INSERT [dbo].[Cilindros] ([tamanio], [tipoResistencia]) VALUES (100,1)
GO
USE [master]
GO
