USE [master]
GO
/****** Object:  Database [Cliente_DB]    Script Date: 15/6/2022 21:05:57 ******/
CREATE DATABASE [Cliente_DB]
 CONTAINMENT = NONE
ALTER DATABASE [Cliente_DB] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cliente_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cliente_DB]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 15/6/2022 21:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[cuit] [varchar](11) NOT NULL,
	[idCilindro] [int] NOT NULL,
	[tamanioCilindro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([idCliente], [nombre], [cuit], [idCilindro], [tamanioCilindro]) VALUES (1, N'Arcor', N'30710969619', 0, 100)
INSERT [dbo].[Cliente] ([idCliente], [nombre], [cuit], [idCilindro], [tamanioCilindro]) VALUES (2, N'Zicamor', N'30710123388', 1, 120)
INSERT [dbo].[Cliente] ([idCliente], [nombre], [cuit], [idCilindro], [tamanioCilindro]) VALUES (3, N'Estrada', N'30717145220', 2, 100)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
USE [master]
GO
